---
import ButtonEditForm from "../ButtonEditForm.astro";
import ButtonPDF from "../ButtonPDF.astro";
import ButtonView from "../ButtonView.astro";

---
<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>Formular</th>
      <th>Letzte Änderung</th>
      <th>Status</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Interessenkollisionen, erste Zuteilung</td><td>2024-06-05, 15:20 Uhr</td><td>Abgeschlossen</td><td
        ><ButtonView /> {"  "} <ButtonPDF /></td
      >
    </tr>
        <tr>
      <td>Interessenkollisionen, zweite Zuteilung</td><td>2024-06-09, 18:21 Uhr</td><td>Angelegt</td><td
        ><ButtonEditForm />  {"   "} <ButtonView /> {"  "} <ButtonPDF /></td
      >
    </tr>
  </tbody>
</table>

<style>
  th:last-child,
  td:last-child {
    text-align: right;
  }
</style>