<table class="table table-striped table-hover">
  <caption class="caption-top">Stammdaten</caption>
  <tr><td>Dokumenten-Nummer</td><td>79R01E</td></tr>
  <tr><td>Träger</td><td>Helden - Verein für nachhaltige Bildung und Persönlichkeitsentwicklung</td></tr>
  <tr
    ><td>Projektvorhaben</td><td
      >Escape the extremism - Entwicklung und Durchführung eines mobilen pädagogischen Escape Rooms zum Thema
      Extremismus</td
    ></tr
  >
  <tr><td>Aktueller Status</td><td><span class="badge badge-pill bg-success">Antragsaufforderung</span></td></tr>
  <tr><td>Interessenbekundung eingereicht</td><td>2024-05-29, 14:58 Uhr</td></tr>
  <tr><td>Letzte Änderung</td><td>2024-07-14, 11:01 Uhr / ryounes</td></tr>
</table>

<table class="table table-striped table-hover">
  <caption class="caption-top">Formelle Prüfung</caption>
  <tr><td>Prüfer/in</td><td>ryounes</td></tr>
  <tr><td>BAFzA-Vorschlag formelles Votum</td><td>formelle Prüfung bestanden, 2024-06-04</td></tr>
  <tr><td>BMFSFJ-Entscheidung formelles Votum</td><td>formelle Prüfung bestanden, 2024-06-20</td></tr>
</table>

<table class="table table-striped table-hover">
  <caption class="caption-top">Sachliche Prüfung</caption>
  <tbody>
    <tr><td>Gutachter/in 1</td><td>Max Mustermann</td></tr>
    <tr><td>Begutachtungsergebnis 1</td><td>81 Punkte (Förderpriorität 2)</td></tr>
  </tbody>
  <tbody>
    <tr><td>Gutachter/in 2</td><td>Erika Meyerfrau</td></tr>
    <tr><td>Begutachtungsergebnis 2</td><td>90 Punkte (Förderpriorität 1)</td></tr>
  </tbody>
  <tbody>
    <tr><td>BAFzA-Vorschlag Förderpriorität</td><td>Förderpriorität 1, 2024-07-01</td></tr>
    <tr><td>BMFSFJ-Entscheidung Förderpriorität</td><td>Förderpriorität 1, 2024-07-14</td></tr>
  </tbody>
</table>

<style>
  table {
    font-size: 90%;
  }

  tbody + tbody {
    border-top: 2px dotted #bbb;
  }

  td:first-child {
    width: 20em;
  }

  caption {
    font-weight: bold;
  }
</style>
