---
import Layout from "../../layouts/Layout.astro";
import NavCol from "../../components/sv/NavCol.astro";
---

<Layout title="Startseite">
  <NavCol slot="nav" />
  <p>[Ansicht für Sachverständige / Gutachter/-innen]</p>
</Layout>
