---
const path = Astro.url.pathname;
const isSv = path.includes("/sv/");
const isBmfsfj = path.includes("/bmfsfj/");
---

<h1>Förderportal 3.0 - Backend-Dummy</h1>
<p id="switch">
  <a href={import.meta.env.BASE_URL} class:list={[{ aktiv: (!isSv && !isBmfsfj)}]}>[BAFzA-Ansicht]</a>
  {" "}
  <a href={import.meta.env.BASE_URL + "sv/"} class:list={[{ aktiv: isSv }]}>[Sachverständigen-Ansicht]</a>
  {" "}
   [BMFSFJ-Ansicht]
</p>
<p>[Nutzername]</p>

<style>
  * {
    font-size: 1rem;
    margin: 0;
    line-height: 1;
  }

  a {
    color: inherit !important;
  }

  a.aktiv {
    font-weight: bold;
  }

  h1 {
    font-weight: bolder;
  }
</style>
