<h1>Förderportal 3.0 - Backend-Dummy</h1>
<p>[Nutzername]</p>

<style>
    * {
        font-size: 1rem;
        margin: 0;
        line-height: 1;
    }

    h1 {
        font-weight: bolder;
    }
</style>